/* Body styling */

body {
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	color: seashell;
	background-color: black;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

div {
	display: block;
}


/* Header styling */
header {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	height: 69px;
	border-bottom: solid seashell 1px;
	margin: 0px;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

nav {
	padding-right: 20px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
	text-align: right;
}

a {
	color: seashell;
	text-decoration: underline;
}

/* rules for logo position, still within header */
header img {
	height: 50px;
	padding-left: 10px;
	display: inline-flex;
	text-align: left;
}


/* main container styling */

.main {
	padding-top: 70px;
	width: 1200px;
	margin: auto;
}

.flex-container {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* mission section styling */

#mission {
	background-image: url(../images/mission.jpg);
	width: 1200px;
	height: 700px;
	padding-top: 50px;
}

.content {
	margin: auto;
	width: 100%;
	background-color: black;
}

/* product section styling */

#products {
	height: 800px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;
}

.item img {
	height: 200px;
	width: 300px;
	margin: 0px 15px 0px 15px;
}

.item h4 {
	margin: 0px 0px 30px 0px;
	padding-top: 10px;
}


/* locations section styling */

#locations {
	background-image: url(../images/locations.jpg);
	height: 500px;
	padding-top:70px;
}

#locations h2 {

	padding-bottom: 15px;
	margin: auto;
}


.location {
	width: 300px;
	background-color: black;
	opacity: 1;
    margin: 0px 20px 0px 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.location h3 {
	padding: 20px 0px 20px 0px;
	margin: 0;
}

.location p {
	padding: 20px 0px 20px 0px;
	margin: 0;
}

/* contact and footer section */

#contact {
	display: block;
	width: 100%;
	height: 200px;
}

footer {
	text-align: left;
	padding-left: 20px;
}

.copyright {
	display: block;
}